<p id="notice"><%= notice %></p>

<h1>Brewery Login</h1>

<% if current_brewery %>
  You are now logged in as: <%= current_brewery.email %>.
  <%= link_to "Log out", manage_session_path, method: :delete %>.
<% else %>
  You are not logged in. Need an account? <%= link_to "Sign up", new_manage_brewery_path %>
<% end %>

<%= form_tag manage_session_path do %>
  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
<% end %>
