<div class="jumbotron text-center">
  <p id="notice"><%= notice %></p>
  <h1><%= current_brewery.name %> Event</h1>
  <h2><%= @event.name %></h2>

  <p><%= link_to 'Edit', edit_manage_event_path(@event), class: "btn btn-info" %>
    <%= link_to 'Back', manage_events_path, class: "btn btn-warning" %>
    <%= link_to 'Delete', manage_event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>

</div>

<div class="container">
<h3>Starts: <%= @event.start_at.strftime("%Y-%m-%d %I:%M %p") %></h3>
<h3>Ends: <%= @event.end_at.strftime("%Y-%m-%d %I:%M %p") %></h3>

<p>Description: <%= @event.description %></p>

<h4>Sales: <%= @event.sales %></h4>
</div>
