<div class="jumbotron text-center">
  <h1>Events</h1>
</div>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-4">
        <h3><%= link_to event.brewery.name, event.brewery  %></h3>
        <p><%= link_to event.name, event %></p>
        <p><%= event.description %></p>
        <p><%= event.start_at %></p>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @events %>
<%= page_entries_info @events %>
