<p id="notice"><%= notice %></p>
<h1><%= current_brewery.name %> Event</h1>

<p><%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<h1><%= @event.name %></h1>

<h3>Starts: <%= @event.start_at.strftime("%Y-%m-%d %I:%M %p") %></h3>
<h3>Ends: <%= @event.end_at.strftime("%Y-%m-%d %I:%M %p") %></h3>

<p>Description: <%= @event.description %></p>

<h4>Sales: <%= @event.sales %></h4>
