<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Brewery Sign Up</h1>
</div>
<div class="container">
    <% if @brewery.errors.any? %>
    <h2>please correct the problems below before continueing...</h2>
    <ul>
      <% @brewery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <%=  form_with model: [ :manage, @brewery ], local: true do |f| %>
    <p>Name: <%= f.text_field :name %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <%= f.submit "Sign me up eh!" %>
    <% end %>
</div>
