<p id="notice"> <%= notice %> </p>
<div class="jumbotron text-center">
  <h1><%= current_brewery.name %></h1>
  <%= link_to 'Website', current_brewery.website, class: "btn btn-info" %>
  <%= link_to 'Edit', edit_manage_brewery_path, class: "btn btn-info" %>
</div>

<div class="container">

  <h2>Address: <%= current_brewery.address_street %> | <%= current_brewery.address_city %></h2>


  <h3>Established: <%= current_brewery.established %></h3>

  <h4>Operating Hours: <%= current_brewery.operating_hours %></h4>

  <h4>Type: <%= current_brewery.location_type %></h4>


  <p><%= current_brewery.description %></p>
</div>
