
<div class="jumbotron text-center">
  <h1>Breweries</h1>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @breweries.each do |brewery| %>
        <tr>
          <td><%= brewery.name %></td>
          <td><%= brewery.description %></td>
          <td><em><%= link_to 'Website', brewery.website, class: "btn btn-info", target: :_blank%></em></td>
          <td><em><%= link_to 'Show', brewery, class: "btn btn-primary"%><em></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<%= paginate @breweries %>
<%= page_entries_info @breweries %>
