<!DOCTYPE html>
<html>
  <head>
    <title>Breweries.MT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar_header">

          <span><%= link_to "HOME", root_path %></span>

          <% if current_brewery %>
            <span><%= link_to "BREWERY LOGOUT", manage_session_path, method: :delete %></span>
          <% else %>
            <span><%= link_to "BREWERY LOGIN", new_manage_session_path %></span>

          <% end %>

            <span><%= link_to "BREWERY SIGN UP", new_manage_brewery_path %></span>
            <span> <%= link_to "EVENTS", manage_events_path %></span>
            <span> <%= link_to 'NEW EVENT', new_manage_event_path %> </span>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
